cffi==2.1.1
charset-normalizer==3.5.2
cryptography==50.0.2
iniconfig==2.3.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.21.0
pypdfium2==5.14.0
pytest==9.1.1
python-dateutil==2.9.0.post0
RapidFuzz==3.14.6
reportlab==5.0.1
six==1.17.0
